.duration-block i {
    display: none !important;
}

button.duration-block {
    display: none !important;
}

.button-plugin-side-area.volume-button {
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.button-plugin-container {
    height: 40px;
}

.duration-button {
    font-size: 0.9em;
    margin-left: 1.5em;
    margin-right: 5px;
}
